pipeline/Process CSV Import.json
{
	"name": "Process CSV Import",
	"properties": {
		"activities": [
			{
				"name": "Insert Into CE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "processAccounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "accounts*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CommonDataServiceForAppsSink",
						"writeBatchSize": 10,
						"writeBehavior": "upsert",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Account Name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Street 1",
									"type": "String"
								},
								"sink": {
									"name": "address1_line1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String"
								},
								"sink": {
									"name": "address1_city",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Post Code",
									"type": "String"
								},
								"sink": {
									"name": "address1_postalcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String"
								},
								"sink": {
									"name": "address1_country",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Industry",
									"type": "Int32"
								},
								"sink": {
									"name": "industrycode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "accountid",
									"type": "Guid"
								},
								"sink": {
									"name": "accountid",
									"type": "Guid"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "transformedAccounts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CDS_Account",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "AccountNames",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Insert Into CE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "names*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "accountNames",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Account Name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AccountNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('AccountNames').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set local1 to fetchFilter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "local1",
								"value": {
									"value": "@variables('fetchFilter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set fetchFilter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set local1 to fetchFilter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fetchFilter",
								"value": {
									"value": "@concat(variables('local1'), '<value>', item().AccountName, '</value>')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Account GUIDs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "For Each Account Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "@concat('<fetch><entity name=\"account\"><attribute name=\"accountid\"/><attribute name=\"name\"/><filter type=\"and\"><condition attribute=\"name\" operator=\"in\">', variables('fetchFilter'), '</condition></filter></entity></fetch>')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CDS_Account",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "accountsNamesAndGuids",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "processContacts",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Get Account GUIDs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "processContacts",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "processAccounts",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "processAccounts",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "Insert Contacts Into CE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "processContacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CommonDataServiceForAppsSink",
						"writeBatchSize": 10,
						"writeBehavior": "upsert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "accountid",
									"type": "Guid",
									"physicalType": "String"
								},
								"sink": {
									"name": "parentcustomerid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "accountentitytype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "parentcustomerid@EntityReference"
								}
							},
							{
								"source": {
									"name": "Account",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "parentcustomeridname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "contactid",
									"type": "Guid",
									"physicalType": "String"
								},
								"sink": {
									"name": "contactid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "First Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "firstname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Last Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "lastname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "emailaddress1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Contact Method",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "preferredcontactmethodcode",
									"type": "Int32"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "transformedContacts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CDS_Contact",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"local1": {
				"type": "String"
			},
			"fetchFilter": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-10-01T11:05:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}